[submodule "image_common"]
	path = image_common
	url = https://github.com/ros-perception/image_common
	branch = hydro-devel
[submodule "image_transport_plugins"]
	path = image_transport_plugins
	url = https://github.com/ros-perception/image_transport_plugins
	branch = indigo-devel
[submodule "raspicam_node"]
	path = raspicam_node
	url = https://github.com/UbiquityRobotics/raspicam_node
	branch = kinetic